{% extends 'Dope_blog/base.html' %}
{% load static %}
{% block title %} My account {% endblock %}
{% block head %}{% endblock %}
{% block stylesheet %}
    <!-- Custom styles for this template -->
    <link href="{% static '/Dope_blog/css/myaccount.css' %}" rel="stylesheet">
{% endblock %}
{% block accountactive %} active {% endblock accountactive %}
{% block message %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Updated!!</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="false">&times;</span>
    </button>
    {% endfor %}
    </div> 
{% endif %}
{% endblock message %}
{% block body %}
<div class="container bg-light" style="box-shadow: 10px 10px 8px #888888;">
        <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
    <br>
    <h2 class="text-center">My account</h2>
    <hr class="mb-4">
        <div>
        {% if request.user.profile.avatar %}
        <img src="/media/{{request.user.profile.avatar}}" class="rounded-circle mx-auto d-block" width="140" height="140">
        {% else %}
        <img src="/media/avatar.png" class="rounded-circle mx-auto d-block" width="140" height="140">
        {% endif %}
        <div align="center">
       
        </div>
        <form class="mt-4" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
         {% include 'Dope_blog/includes/form.html' %}
         <div class="divider"></div>
           <!--  {{ formset.management_form }} -->
         {% include 'Dope_blog/includes/form2.html' %}

        <hr class="mb-4">
        <button type="submit" class="btn btn-success mb-3">Save changes</button>
    </form>

</div>

</div>

</div>
{% endblock body %}