{% extends 'Dope_blog/base.html' %}

{% block title %} Change password {% endblock %}
{% block accountactive %} active {% endblock accountactive %}
{% block body %}
<div class="container bg-light" style="margin-top: 75px;box-shadow: 10px 10px 8px #888888;">
	<div class="row justify-content-center">
	<div class="col-lg-8 col-md-10 col-sm-12">
	 <br>
  <h2 class="text-center">Change password</h2>

<hr class="mb-4">

  
    <div class="">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'Dope_blog/includes/form.html' %}
        <button type="submit" class="btn btn-success mb-4">Change password</button>
      </form>
    </div>
</div>
   </div>
{% endblock body %}