{% extends 'Dope_blog/base.html' %}

{% block title %} Change password {% endblock %}
{% block accountactive %} active {% endblock accountactive %}
{% block body %}
<div class="container w-25" style="margin-top: 75px;">
  <h2 class="text-center">Change password</h2>

<hr class="mb-4">

  
    <div class="">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'Dope_blog/includes/form.html' %}
        <button type="submit" class="btn btn-success">Change password</button>
      </form>
    </div>

   </div>
{% endblock body %}