{% extends 'Dope_blog/base.html' %}

{% block title %}Change password successful{% endblock %}
{% block accountactive %} active {% endblock accountactive %}
{% block body %}
<div class="container" style="margin-top: 75px;">

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Congrats!!</h4>
  <p> You successfully changed your <strong>password</strong> as you wish</p>
  <hr>
  <p class="mb-0">You can go to home page by clicking button below.</p>
</div>

  <a href="{% url 'home' %}" class="btn btn-secondary">Return to home page</a>
  </div>
{% endblock %}