.btn-social {
	position: absolute;
    right: 25px;
    top: 09px;
    font-size: 30px;
    text-align: center;


}

.btn-social-icon {
	position: absolute;
    right: 42px;
    top: 09px;
    font-size: 30px;
    text-align: center;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: #3b5998;
}

/* Twitter */
.fa-twitter {
  color: #00acee;

}

/* goole mail */
.fa-mail {
  -webkit-text-fill-color: transparent;
  position: absolute;
    right: 2px;
    top: 8px;
}

/* instagram */
.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
    right: 22px;

}
/* reddit */
.fa-reddit {
  color: #FF5700;
  position: absolute;
  left: -33px;
}
/* github */
.fa-github {
  color: #000000;
  position: absolute;
  left: -31px;

}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}
@media screen and (min-width: 768px) {
  .container {
     margin-top: 75px;
  }
}
