asgiref==3.2.7
autopep8==1.5.2
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.5
django-ckeditor==5.9.0
django-crispy-forms==1.9.1
django-js-asset==1.2.2
django-markdownx==3.0.1
django-social-share==1.4.0
django-widget-tweaks==1.4.8
idna==2.9
Markdown==3.2.1
Pillow==7.1.2
pycodestyle==2.5.0
pytz==2019.3
requests==2.23.0
sqlparse==0.3.1
urllib3==1.25.9
